.ast-button-wrap .menu-toggle.main-header-menu-toggle {
  background-color: #eb2890;
}

.elementor-928 .elementor-element.elementor-element-obauf0q:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated {
  color: #b8397d;
  background-color: #eb2890;
  opacity: 0.3;
}

.elementor-928 .elementor-element.elementor-element-6ozomqt:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated {
  background-color: #eb2890;
  border-width: -10px;
  opacity: 0.65;
}

.elementor-928 .elementor-element.elementor-element-s8nu4m6:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated {
  background-color: #eb2890;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
  padding-right: 0px;
}

.elementor-21 .elementor-element.elementor-element-ryovyju.elementor-position-top .elementor-image-box-img {
  background-color: #eb2890;
  opacity: 1;
}

.elementor-element.elementor-element-5xvql5b.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
  background-color: #eb2890;
  opacity: 1;
}

.elementor-21 .elementor-element.elementor-element-ryovyju > .elementor-widget-container {
  background-color: #eb2890;
  opacity: 1;
}